/* Tinderify Song Card  */
/* Source:  https://www.bypeople.com/profile-card-hover-effect/  */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.container {
  width: 400px;
  margin: 120px auto 120px;
  /* background-image: linear-gradient(to bottom right, #df4685, #ff5864, #ff8146); */
  background-image: linear-gradient(to bottom right, #e56b9e, #ff7982, #ff9a6b);
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 20px 50px #e56b9e;
  -webkit-box-shadow: 0 20px 50px #e56b9e;
  -moz-box-shadow: 0 20px 50px #e56b9e;
  text-align: center;
}
.container:hover .avatar-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.container:hover .avatar-flip img:first-child {
  opacity: 0;
}
.container:hover .avatar-flip img:last-child {
  opacity: 1;
}
.avatar-flip {
  /* border-radius: 100px; */
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  /* box-shadow: 0 0 0 5px #ff655b;
  -webkit-box-shadow: 0 0 0 5px #ff655b;
  -moz-box-shadow: 0 0 0 5px #ff655b; */
}
.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  /* border-radius: 100px; */
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
  z-index: 1;
}
.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Comfortaa", cursive;
}
h4 {
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 25px;
  font-family: "Comfortaa", cursive;
}

.tinderify-title {
  font-family: "Pacifico", cursive;
  font-size: 100px;
  align-self: center;
}
